<div class="body">
    <div class="container">
        <nav>
            <ul>
                <li><a href="sobremim.html">Sobre a empresa</a></li>
                <li><a href="project.html">Projetos</a></li>
                <li><a href="contact.html">Contato</a></li>
            </ul>
        </nav>

        <header>
            <h1>Foot Couture</h1>
            <h2>Organize aqui seus calçados!</h2>
        </header>

        <main>
            <section>
                <h2>Sobre este site</h2>
                <p>Bem-vindo ao nosso sistema de gestão de estoque de calçados! Este site foi desenvolvido pensando em você, oferecendo uma experiência simples e intuitiva para gerenciar seu inventário. Adicione, atualize e remova produtos com facilidade, mantendo seu estoque sempre organizado.
                Com design prático e funcionalidades otimizadas, acompanhe a movimentação do estoque e melhore a gestão, garantindo mais agilidade. Simplifique sua rotina e tenha controle total da sua loja!</p>
            </section>

            <form action="/ShoesSystem/addCalcado" method="post">
                <section>
                    <h2>Nome:</h2>
                        <input type="text" id="name" name="name" placeholder="Digite o nome do calçado" required>
                    
                </section>
                

                <section>
                    <h2>Gênero:</h2>
                    
                        <select name="gender" id="gender">
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    
                </section>
                

                <section>
                    <h2>Categoria:</h2>
                    
                        <select name="category" id="category">
                            <option value="">Selecione uma categoria</option>
                            {{#each categories}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                </section>
                

                <section>
                    <h2>Marca:</h2>
                    
                        <select name="brand" id="brand">
                            <option value="sapatinhodeluxo">Sapatinho de Luxo</option>
                            <option value="vizzano">Vizzano</option>
                            <option value="olympikus">Olympikus</option>
                            <option value="kenner">Kenner</option>
                        </select>
                    
                </section>

                <section>
                    <h2>Cor:</h2>
                    
                        <input type="text" id="color" name="color" placeholder="Digite a cor do calçado" required>
                    
                </section>

                <section>
                    <h2>Tamanho:</h2>
                    
                        <input type="text" id="size" name="size" placeholder="Digite o tamanho do calçado" required>
                    
                </section>

                <section>
                    <h2>Preço:</h2>
                    
                        <input type="text" id="price" name="price" placeholder="Digite o preço" required>
                    
                </section>

                <section>
                    <h2>Quantidade:</h2>
                    
                        <input type="number" id="quantity" name="quantity" placeholder="Digite a quantidade" required>
                    
                </section>

                <section>
                    <h2>Quantidade em estoque:</h2>
                    
                        <input type="number" id="quantidadeEstoque" name="quantidadeEstoque"  readonly>
                    
                </section>

                <section>
                    <h2>Remover do estoque:</h2>
                    
                        <input type="number" id="remover" name="remover" placeholder="Quantidade a remover...">
                        <button type="submit">Remover</button>
                    
                </section>

                <section>
                    <button type="submit">
                        Adicionar
                    </button>
                </section>
            </form>  
        </main>

        <footer>
            <p class="paragrafo-footer">&copy; Aqui você não perde tempo!!!</p>
        </footer>
    </div>
</div>
