<div class="container">
    <main>
        <form action="/ShoesSystem/addCalcado" method="post">
            <section>
                <h2>Nome:</h2>
                <input type="text" id="name" name="name" placeholder="Digite o nome do calçado" required>
            </section>
            <section>
                <h2>Gênero:</h2>
                <select name="gender" id="gender" required>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </select>  
            </section>
            <section>
                <h2>Categoria:</h2>
                <select name="category" id="category" required>
                    <option value="">Selecione uma categoria</option>
                    {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </section>
            <section>
                <h2>Marca:</h2>
                <select name="brand" id="brand" required>
                    <option value="">Selecione uma categoria</option>
                    <option value="Sapatinho de luxo">Sapatinho de Luxo</option>
                    <option value="Vizzano">Vizzano</option>
                    <option value="Olympikus">Olympikus</option>
                    <option value="Rider">Rider</option>
                </select>
            </section>
            <section>
                <h2>Cor:</h2>
                <input type="text" id="color" name="color" placeholder="Digite a cor do calçado" required>
            </section>
            <section>
                <h2>Tamanho:</h2>
                <input type="text" id="size" name="size" placeholder="Digite o tamanho do calçado" required>
            </section>
            <section>
                <h2>Preço:</h2>
                <input type="text" id="price" name="price" placeholder="Digite o preço" required>
            </section>
            <section>
                <h2>Quantidade:</h2>
                <input type="number" id="quantity" name="quantity" placeholder="Digite a quantidade" required>
            </section>                  
            <section>
                <div class="actions">
                    <button type="submit" class="btn btn-submit">Adicionar</button>    

                    <button class="btn btn-back" onclick="window.location.href='/ShoesSystem/home'">Voltar</button>
                </div>
            </section>
        </form>  
    </main>
</div>