<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tenis-de-corrida.png"> 
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/{{style}}">
</head>
<body>
    <nav>
        <ul>
            <li><a target="_blank" href="#">Sobre a empresa</a></li>
            <li><a target="_blank" href="#">Projetos</a></li>
            <li><a target="_blank" href="#">Contato</a></li>
        </ul>
    </nav>

    {{{ body }}}

    <footer>
        <p class="paragrafo-footer">&copy; Aqui você não perde tempo!!!</p>
    </footer>
</body>
</html>