<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tenis-de-corrida.png"> 
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/{{style}}">
</head>
<body>
    <style>
        /* Estilo geral para a p치gina */
        body {
            font-family: Arial, sans-serif; /* Define a fonte padr칚o para o corpo do texto */
            margin: 0; /* Remove as margens padr칚o do corpo */
            padding: 0; /* Remove o preenchimento padr칚o do corpo */
        }

        /* Estilo para o cabe칞alho principal */
        .main-header {
            display: flex; /* Transforma o elemento em um container flexbox */
            justify-content: space-between; /* Distribui os itens de forma a ocupar todo o espa칞o dispon칤vel */
            align-items: center; /* Alinha os itens verticalmente ao centro */
            padding: 20px; /* Adiciona um espa칞o interno ao cabe칞alho */
            background-color: #dad4ce; /* Define a cor de fundo do cabe칞alho */
            color: #000000; /* Define a cor do texto do cabe칞alho */
        }

        .logo a{
            cursor: pointer;
        }

        /* Estilo para o logo */
        .logo a h1 {
            margin: 0; /* Remove as margens do t칤tulo */
            font-size: 24px; /* Define o tamanho da fonte do t칤tulo */
            color: #A68DAD; /* Define a cor do t칤tulo */
        }

        /* Estilo para o menu do usu치rio */
        .user-menu a {
            color: #130e0e; /* Define a cor dos links do menu */
            margin-left: 15px; /* Adiciona uma margem  esquerda dos links */
            text-decoration: none; /* Remove a sublinhado dos links */
        }

        /* Estilo para a barra de navega칞칚o central */
        .nav-bar {
            background-color: #A68DAD; /* Define a cor de fundo da barra */
            padding: 10px 20px; /* Adiciona um espa칞o interno  barra */
        }

        /* Estilo para os links da navega칞칚o principal */
        .main-nav a {
            color: #fff; /* Define a cor dos links */
            margin-right: 15px; /* Adiciona uma margem  direita dos links */
            text-decoration: none; /* Remove a sublinhado dos links */
        }

        /* Estilo para o banner promocional */
        .promo-banner {
            background-color:#dad4ce; /* Define a cor de fundo do banner */
            color: #130e0e; /* Define a cor do texto do banner */
            text-align: center; /* Alinha o texto ao centro */
            padding: 5px; /* Adiciona um espa칞o interno ao banner */
            font-size: 15px; /* Define o tamanho da fonte do texto */
        }
        footer {
            background-color:#A68DAD; /* Cor de fundo */
            color: #130e0e; /* Cor do texto */
            text-align: center;
            padding: 20px;
        }

        footer nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }

        footer nav li {
            margin: 0 10px;
        }
        
    </style>


    <!-- Cabe칞alho do site -->
    <header>
        <!-- Cont칡iner principal do cabe칞alho -->
        <div class="main-header">
            
            <!-- T칤tulo/logo da empresa -->
            <div class="logo">
                <a onclick="window.location.href='/ShoesSystem/home'"><h1>Iannuzzi</h1></a>
                
            </div>

            <!-- Menu de navega칞칚o do usu치rio -->
            <nav class="user-menu">
                <a href="#">Hist칩ria</a>
                <a href="#">Ajuda</a>
                <a href="#"><span class="cart-icon">游</span>0</a>
            </nav>
        </div>
        
        <!-- Barra de navega칞칚o principal -->
        <div class="nav-bar">
            <nav class="main-nav">
                <a href="#">Lan칞amentos</a>
                <a href="#">Masculino</a>
                <a href="#">Feminino</a>
                <a href="#">Ofertas</a>
                <a href="#">Marcas</a>
            </nav>
        </div>
        
        <!-- Banner promocional -->
        <div class="promo-banner">
            <p>Frete gr치tis para compras acima de R$199,90 | Ganhe <strong>+15% OFF</strong> na primeira compra com o cupom PRIMEIRA15</p>
        </div>
    </header>

    {{{ body }}}

    <footer>
        <p>&copy; 2024 Iannuzzi. Todos os direitos reservados.</p>
        <nav>
            <ul>
                <li><a href="#">Sobre n칩s</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Pol칤tica de privacidade</a></li>
                </ul>
        </nav>
    </footer>
</body>
</html>