/* Conainer principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
/* Seções */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    padding: 15px;
    border-radius: 5px;
}

section h2 {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 10px;
}

form select,
form input {
    width: 700px;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.actions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Estilo base para os botões */
.actions .btn {
    border: 1px solid #dc3545; /* Borda vermelha */
    background-color: transparent; /* Fundo transparente */
    color: #dc3545; /* Cor do texto vermelha */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease; /* Animação suave */
    cursor: pointer;
}

/* Estilo ao passar o mouse */
.actions .btn:hover {
    background-color: #dc3545; /* Fundo vermelho */
    color: #fff; /* Texto branco */
    border-color: #dc3545; /* Mesma cor da borda */
}

/* Específico para o botão de editar */
.actions .btn-submit {
    border-color: #198754; /* Azul padrão para editar */
    color: #198754;
}

.actions .btn-submit:hover {
    background-color: #198754; /* Fundo azul no hover */
    color: #fff; /* Texto branco */
    border-color: #198754;
}

/* Botão de voltar */
.actions .btn-back {
    border-color: #6c757d; /* Cinza padrão */
    color: #6c757d;
}

.actions .btn-back:hover {
    background-color: #6c757d; /* Fundo cinza */
    color: #fff; /* Texto branco */
    border-color: #6c757d;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header {
        padding: 40px 15px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header h2 {
        font-size: 0.9rem;
    }
}
